{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/item.css' %}">
{% endblock css %}
<div class="container contact-form">
    <div class="contact-image">
        <img src="{% static 'images/123.png' %}" alt="rocket_contact"/>
    </div>
    <form method="post" novalidate>
        {% csrf_token %}
        <h3>Add New Inventory</h3>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form.inventry_type }}
                    <span class="errorlist" style="color:red;">{{ form.inventry_type.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.name }}
                    <span class="errorlist" style="color:red;">{{ form.name.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.quantity }}
                    <span class="errorlist" style="color:red;">{{ form.quantity.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.unit_price }}
                    <span class="errorlist" style="color:red;">{{ form.unit_price.errors }}</span>
                </div>
                <div class="form-group">
                    {{ form.purchase_date }}
                    <span class="errorlist" style="color:red;">{{ form.purchase_date.errors }}</span>
                </div>
                <div class="form-group">
                    {{ formset.management_form }}
                        {% for form in formset %}
                        {{ form.non_field_errors }}
                        <div class="form-group">
                            {{ form.image.label_tag }}
                            <input required name="images" type="file" multiple class="from-control-file">
                            <span class="errorlist" style="color:red;">{{ form.image.errors }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <input type="submit" name="btnSubmit" class="btnContact" value="Submit"/>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

